body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.gsap-animate {
    visibility: visible !important;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e293b;
    transition: .3s;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
    z-index: 2;
}

input:checked+.slider {
    background-color: #fbbf24;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.slider span {
    font-size: 13px;
    z-index: 1;
}

html:not(.dark) .slider {
    background-color: #cbd5e1;
}

@media screen and (max-width: 700px) {
    .mobile-res {
        padding: 10px 6px !important;
    }
}

@keyframes green-glow {
        0% {
            box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.8);
            transform: scale(1);
        }
        50% {
            box-shadow: 0 0 0 25px rgba(34, 197, 94, 0);
            transform: scale(1.05);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
            transform: scale(1);
        }
    }

    .pulse-button {
        background-color: #22c55e !important;
        animation: green-glow 1.5s infinite ease-in-out;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        color: white;
        font-weight: 800;
        font-size: 16px;
        padding: 20px;
        border-radius: 9999px;
        text-decoration: none;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
    }

    .pulse-button:hover {
        background-color: #16a34a !important;
        animation-play-state: paused;
    }